body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://discord-collaborative-adventure.github.io/fr/background.png');
    background-size: cover;
    background-attachment: fixed; /* Ne pas fixer le fond pour les appareils mobiles */
}


.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

p {
    margin-top: 20px;
    font-size: 18px;
}
